header {
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  #iconsDiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h3 {
      color: $accent-color;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2.7rem;
      margin-bottom: 2.7rem;
    }
    .fas {
      color: $accent-color;
    }
    #navButton {
      background-color: rgba($color: #000000, $alpha: 0);
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
      margin: 2rem;
      width: 4rem;
      height: 4rem;
      cursor: pointer;
      z-index: 100;
    }
    #navButton:focus {
      outline: 1px solid rgba($color: #fff, $alpha: 1);
    }
    .menuClosed {
      .fa-times {
        position: absolute;
        opacity: 0;
      }
      .fa-bars {
        position: static;
        transition: opacity ease-in-out 0.5s;
      }
    }
    .menuOpen {
      .fa-times {
        position: static;
        opacity: 1;
        transition: opacity ease-in-out 0.5s;
      }
      .fa-bars {
        position: absolute;
        opacity: 0;
      }
    }
  }
  #menuDiv {
    width: 100%;
    overflow: hidden;
    a:link,
    a:visited {
      text-decoration: underline;
      display: block;
      padding: 1rem;
      margin-left: 1rem;
      color: $accent-color;
      font-weight: bold;
      text-decoration: none;
    }
    a:hover {
      color: $secondary-color;
    }
    a:focus{
      outline: 1px solid rgba($color: #fff, $alpha: 1);
    }
  }
}

.menuHide {
  max-height: 0;
}

.menuShow {
  max-height: 23rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  header {
    width: 30rem;
    .fas {
      display: none;
    }
    input {
      display: none;
    }
    #iconsDiv {
      h3 {
        margin-top: 35px;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
        margin-right: 1rem;
      }
    }
    #menuDiv {
      max-height: 20rem;
    }
  }
}
