ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  background-color: white;
  border-radius: 5px;
  li {
    padding: 2rem;
    color: rgb(80, 80, 80);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color: #e6e6e6, $alpha: 1);
    input {
      cursor: pointer;
    }
  }
  li:last-child {
    border-bottom: none;
  }
  li:hover {
    border-left: 1rem solid $accent-color;
    padding-left: 1rem;
    label {
      cursor: pointer;
    }
  }
  li:first-child:hover {
    border-radius: 5px 0px 0px 0px;
  }
  li:last-child:hover {
    border-radius: 0px 0px 0px 5px;
  }
  .compeltedListItem:hover {
    cursor: default;
    input {
      cursor: default;
    }
    label {
      cursor: default;
    }
  }
  .completeForm {
    margin-right: auto;
    label {
      width: 70%;
      margin-left: 4rem;
      float: left;
      vertical-align: middle;
    }
    input {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: -4rem;
      margin-right: 2rem;
    }
  }
  li > div {
    min-width: 13rem;
    margin-left: 1rem;
    p {
      margin: 0;
    }
  }

  li > div > .taskLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .fa-star {
      color: rgb(255, 196, 0);
      padding-top: 1rem;
    }
    .fa-times-circle {
      color: rgb(161, 161, 161);
      padding-top: 1.4rem;
      padding-left: 2rem;
    }
    .fas:hover {
      opacity: 0.5;
    }
  }
}
