<%- include('header'); -%>
<main>
    <div id="formsContainer">
            <h3>Check your email</h3>
            <p>An email should arrive shortly to <%= email %>. Still no email? Check your spam folder or <a href="/reset">try again.</a></p>
    </div>
</main>
<%- include('header'); -%>