<header>
  <input type="checkbox">
  <div id="iconsDiv">
    <i class="fas fa-bars fa-2x"></i>
    <i class="fas fa-times fa-2x"></i>
    <h3><%= user %></h3>
  </div>
  <div id="menuDiv">
    <a href="/">All to dos</a>
    <a href="/starred">Starred</a>
    <a href="/due">Due this week</a>
    <a href="/completed">Completed to dos</a>
    <a href="/logout">Log out</a>
  </div>
</header>
