<%- include('header'); -%>
<div>
  <h3>Set new password</h3>
  <% if (error) { %>
  <p><%= error %></p>
  <% } %>
  <form action="/reset/password" method="post">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <label for="confirmedPassword">Password</label>
    <input id="confirmedPassword" name="confirmedPassword" type="password" />
    <input type="email" name="email" value="<%= email %>" hidden />
    <button type="submit">Set new password</button>
  </form>
</div>
<%- include('header'); -%>
