<%- include('header'); -%>
<main>
    <div id="formsContainer">
        <h3>Reset password</h3>
        <% if (error) { %>
            <p><%= error %></p>
        <% } %>
        <form action="/reset" method="post">
            <label for="email">Email address</label><input id="email" name="email" type="email">
            <button type="submit">Reset password</button>
        </form>
        <a href="/">Back to login</a>
    </div>
</main>
<%- include('header'); -%>